@import "../../main.scss";

div.containerXpPro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;

  div.boxXpPro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    padding: 25px 15px;
    background-color: $colorPrimary;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition:
      opacity 0.3s,
      box-shadow 0.3s;
    width: 100%;
    will-change: opacity, box-shadow;

    &:hover {
      opacity: 80%;
      box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    }

    p.box {
      font-size: 1.4em;
      font-weight: 300;
      color: $colorSecondary;
    }

    h2.box {
      font-size: 1.8em;
      font-weight: 700;
      margin: 10px 0;
    }

    h3.box {
      font-size: 1.5em;
      font-weight: 500;
      margin: 5px 0;
    }

    .description {
      margin: 15px 0;
      p {
        font-size: 1.3em;
        text-align: justify;
      }
    }

    .image {
      margin: 10px 0;
      img {
        max-width: 100%;
        object-fit: cover;
        height: 200px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
      }
    }

    .liens {
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;

      .link {
        margin: 5px 0;

        a {
          position: relative;
          font-size: 1em;
          font-weight: 600;
          color: $colorSecondary;
          text-decoration: none;
          transition: color 0.3s ease;
          font-style: italic;

          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $colorSecondary;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out;
          }

          &:hover {
            &:before {
              visibility: visible;
              transform: scaleX(1);
            }
          }
        }
      }
    }

    .iconSkills {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;

      .link {
        display: flex;
        align-items: center;
        gap: 5px;

        a {
          display: flex;
          align-items: center;
          font-size: 1em;
          font-weight: 600;
          color: $colorSecondary;
          text-decoration: none;
        }

        img {
          width: 50px;
          height: auto;
          transition: 0.3s;

          &:hover {
            transform: translateY(-20%);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  div.containerXpPro {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    div.boxXpPro {
      min-height: auto;
      padding: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  div.containerXpPro {
    grid-template-columns: 1fr;
    gap: 10px;

    div.boxXpPro {
      min-height: auto;
      margin: 10px 0;
    }
  }
}
