@import '../main.scss';

header {
    width: 100%;
    @include display(flex, row, space-around, center);
    position: fixed;
    z-index: 2;
    transition: .3s;

    img {
        transition: .3s;
        cursor: pointer;
    }

    img:hover {
        transform: scale(1.05);
    }

    div.nav {
        padding: 20px 0;
        @include display(flex, row, normal, normal);

        a {
            margin: 0 10px;
            color: black;
            font-size: 1.5em;
            font-weight: 600;
            transition: .3s;
        }

        a::after {
            content: "";
            width: 100%;
            height: 2px;
            background: #000;
        }

        a::after {
            display: block;
            float: left;
            color: rgb(0, 0, 0);
            content: "";
            width: 0%;
            height: 0.1px;
            background: rgb(0, 0, 0);
            transition: width 0.4s ease-in-out;
        }

        a:hover {
            color: $colorSecondary;
        }

        a:hover::after {
            width: 100%;
        }
    }

    &.scrolled {
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.48) 0px 4px 15px 3px;
    }
}