@import '../main.scss';

/* loader */

div.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.734);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;

    span.span1 {
        background: #5a85d6ca;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        transform: translate(25%, 0);
        z-index: 3;
        animation: up infinite 1.5s;
    }

    @keyframes up {

        25% {
            transform: translate(50%, -25%);
            background-color: #d65a5aca;
        }

        50% {
            transform: translate(75%, 0%);
            background-color: $colorSecondary;
        }

        75% {
            transform: translate(50%, 25%);
            background-color: #d65a5aca;
        }
    }

    span.span2 {
        background: #d65a5aca;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        transform: translate(-25%, 0);
        z-index: 2;
        animation: down infinite 1.5s;
    }

    @keyframes down {

        25% {
            transform: translate(-50%, 25%);
            background-color: $colorSecondary;
        }

        50% {
            transform: translate(-75%, 0%);
            background-color: #d65a5aca;
        }

        75% {
            transform: translate(-50%, -25%);
            background-color: $colorSecondary;
        }

    }
}