@import "../../main.scss";

div.containerProject {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 5px;

  div.cardRealisation {
    width: 425px;
    height: 280px;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 1em;
    @include shadow();

    div.img {
      width: 100%;
      height: 80%;
      overflow: hidden;
      position: relative;
      border-radius: 0;

      img {
        object-fit: cover;
        object-position: top;
        transition: 0.5s;
        width: 100%;
        height: 100%;
      }

      div.containHover {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 10px;
        @include display(flex, column, space-evenly, center);
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
        color: #fff;
        font-size: 1.4em;

        i {
          cursor: pointer;
          font-size: 2em;
          transition: 0.3s;

          &:hover {
            transform: rotate(90deg) scale(1.1);
          }
        }
      }
    }

    div.details {
      @include display(flex, column, center, center);
      width: 100%;
      height: 20%;

      h3 {
        font-size: 1.5em;
        font-weight: 600;
      }
    }
  }

  div.cardRealisation:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
  }

  div.cardRealisation:hover img {
    filter: brightness(0.3);
  }

  div.cardRealisation:hover div.img > div.containHover {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes modalFadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

div.btnFilter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 15px 0;
}

@media screen and (max-width: 1024px) {
  div.containerProject {
    div.cardRealisation {
      div.img {
        div.containHover {
          visibility: visible;
          opacity: 1;
        }

        img {
          object-fit: cover;
          filter: brightness(0.35);
        }
      }
    }
  }
}
