@import '../main.scss';

div.containerAbout {
    @include display(flex, row, center, center);
    gap: 50px;

    img {
        height: 400px;
        border-radius: 15px;
    }

    div.containerText {
        background-color: #ffffff;
        width: 700px;
        padding: 20px;
        text-align: justify;
        border-radius: 10px;
        font-size: 1.7em;

        p {
            margin: 0;
        }
    }
}