@import '../main.scss';

div.containerAbout {
    @include display(flex, row, center, center);
    gap: 50px;

    img {
        height: 400px;
        border-radius: 15px;
    }

    div.containerText {
        background-color: #ffffff;
        width: 700px;
        padding: 20px;
        text-align: justify;
        border-radius: 10px;
        font-size: 1.7em;

        p {
            margin: 0;
        }
    }
}

@media screen and (max-width: 600px) {
    div.containerAbout {
        @include display(flex, column, center, center);

        img {
            height: 200px;
        }

        div.containerText {
            width: 100%;
            text-align: left;
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
    div.containerAbout {

        img {
            height: 300px;
        }

        div.containerText {
            width: 60%;
            text-align: left;
        }
    }
}