@import '../main.scss';

div.containerSkills {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 20px;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    div.containerSkills {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 480px) {
    div.containerSkills {
        grid-template-columns: auto;

        div.boxSkills {
            width: 100%;
            height: auto;
        }
    }
}